//*****************************************************************************
// Developer : Oshan Mujithafa
// Date : 2015-05-26
// Product : Antflow_mobile_app
// Copyrights : Maadya Digital
//*****************************************************************************

<ion-view view-title="Login" name="login-view" class="login-view ">
  <ion-content class="padding">
    <div class="list card bottom-content">
        <div class="item item-divider">User login</div>
         
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <button class="button button-block button-calm" ng-click="login()">Login</button>
    </div>
  </ion-content>
</ion-view>