//*****************************************************************************
// Developer : Oshan Mujithafa
// Date : 2015-05-26
// Product : Antflow_mobile_app -V0.1
// Copyrights : Maadya Digital
//*****************************************************************************
<div ng-controller="OpenLoadCtrl" >
<ion-view view-title="Login" name="domain_login" class="index-view">
  <ion-content class="bottom-loading">
      <div class="image"></div>
      
      <div class="text-center">
            <ion-spinner class="spinner"></ion-spinner>
            <h4>Loading...</h4>
        </div>
      <div class="bottom-text text-center">
      <p>©Maadya Digital 2015</p>
</div>
  </ion-content>
</ion-view>
</div>